<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62519831960-aa1m6pnhp0prsjc7nllsf0n4li4fl1u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62519831960-aa1m6pnhp0prsjc7nllsf0n4li4fl1u0</string>
	<key>API_KEY</key>
	<string>AIzaSyCcUNLoOPsad0Y2T95SRtcDTXWKeOzIW1E</string>
	<key>GCM_SENDER_ID</key>
	<string>62519831960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueshift.reads</string>
	<key>PROJECT_ID</key>
	<string>blueshift-reads-app</string>
	<key>STORAGE_BUCKET</key>
	<string>blueshift-reads-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62519831960:ios:fca4a3c5568da0f9028fed</string>
	<key>DATABASE_URL</key>
	<string>https://blueshift-reads-app.firebaseio.com</string>
</dict>
</plist>